---
layout: styleguide
---

<div class="Container">
  <h1>Styleguide</h1>

  <h2>BreadCrumbs</h2>
  <p>The BreadCrumbs organism is used to render a list of navigation links in relation to the current link to show where you've gone in the page.</p>
  {% include styleguide/organisms/BreadCrumbs.html %}
  <hr>

  <h2>Modal</h2>
  <p>The Modal organism is used to render content in a floating box with an optional overlay</p>
  <h3>Modal--book</h3>
  {% include styleguide/organisms/Modal--book.html %}
  <hr>

  <h2>Navigationbar</h2>
  <p>The Navigationbar organism is used to render a navigationbar</p>
  {% include styleguide/organisms/Navigationbar.html %}
  <hr>

  <h2>Popover</h2>
  <p>The Popover organism is used to render secondary content in a floating box</p>
  <h3>Popover--account</h3>
  {% include styleguide/organisms/Popover--account.html %}
  <hr>

  <h3>Popover--filters</h3>
  {% include styleguide/organisms/Popover--filters.html %}
  <hr>

  <h3>Popover--recipe</h3>
  {% include styleguide/organisms/Popover--recipe.html %}
  <hr>

  <h2>RecipeTable</h2>
  <p>The RecipeTable organism is used to render a recipe list</p>
  {% include styleguide/organisms/RecipeTable.html %}
  <hr>

  <h2>Sidebar</h2>
  <p>The Sidebar organism is used to render a sidebar</p>
  {% include styleguide/organisms/Sidebar.html %}
</div>
